.footer {
    width: 100%;
    height: 130px;
    
    background: $bg-color3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__container {
        width:100%;
        max-width: 940px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__info {
        max-width: 654px;
        width: 69.57%;
        font-family: $ff;
        font-size: $footer-info;
        color: $text-color2;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
    }
    &__phone {
        color: $text-color2;
        font-size: $phone-footer;
        font-family: $ff;
        text-align: right;
        line-height: 28px;
        text-decoration: none;
        cursor: pointer;
    }
}