/*Colors*/

$action-color1 : #4c2887;
$action-color2 : #ffc800;
$bg-color : #ededed;
$bg-color2 : #ffffff;
$bg-color3 : #000000;
$text-color1 : #000000;
$text-color2 : #999999;

/*Font*/

$ff : 'Roboto', sans-serif;

/*text size*/

$title-size : 40px;
$phone-header : 16px;
$phone-footer : 22px;
$product-name: 20px;
$product-name-tiles: 16px;
$product-card: 14px;
$product-card-tiles: 13px;
$price-before : 16px;
$price : 30px;
$price-tiles : 20px;
$button : 16px;
$represent-title : 15px;
$footer-info : 13px;


